streamlit==1.25.0
chromadb==0.3.29
sentence-transformers==2.2.2
nltk==3.8.1
openai==0.27.8
pysqlite3-binary==0.5.2  # Ensures compatible SQLite version for ChromaDB
# Specify Python version (Streamlit Cloud will use this)
python-dotenv==1.0.0     # For environment variable management (optional)
pydantic<2
datasets>=2.17.0
huggingface-hub>=0.13.4
fsspec>=2023.1.0
